<html>
<head>
  <title>Fly Kicks Database</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class='container'>
    <h1>{{ store.getStoreName }}</h1>

    <p><a href='/stores/{{ store.getId }}/edit'>Edit this Store</a></p>
    <p><a href='/'>Home</a></p>
  </div>
</body>
</html>
